/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    background-color: black;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    list-style: none;
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

/* Навигационная панель */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: flex-start; /* Логотип слева, меню справа */
    position: relative;
}

/* Бургер-иконка */
.burger-menu {
    font-size: 30px; /* Сделано одинаково с логотипом */
    cursor: pointer;
    color: whitesmoke;
    margin-right: 20px;
    display: none; /* Прячем бургер-иконку по умолчанию */
}

/* Логотип */
.logo h1 {
    margin: 0;
    font-size: 36px; /* Размер логотипа */
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
}

/* Стили для меню */
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Убираем подчеркивание у ссылок в меню */
.menu li a {
    text-decoration: none;
    color: whitesmoke;
}

.menu a {
    font-size: 21px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #6F6F6F;
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 768px) {
    .burger-menu {
        display: block; /* Показываем бургер-иконку */
    }

    .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%; /* Меню начнёт выезжать с правой стороны */
        width: 250px;
        height: 100%;
        background-color: black;
        padding-top: 60px;
        transition: right 0.4s ease;
        z-index: 10;
    }

    .menu.active {
        left: 0; /* Меню будет видно при активации */
    }

    .menu li {
        margin: 20px 0;
        text-align: center;
    }

    /* Цвет при наведении на ссылки в меню */
    .menu a:hover {
        color: #6F6F6F;
    }
   
}

/* Размещение элементов на больших экранах */
@media (min-width: 769px) {
    .logo {
        order: 1; /* Логотип всегда слева */
        margin-left: 80px; /* Отступ слева для логотипа, как у меню */
    }
    .logo h1{
        font-size: 36px;
    }

    .menu {
        order: 2; /* Меню всегда справа */
        margin-left: auto; /* Отодвигаем меню вправо */
        padding-right: 80px; /* Добавляем отступ справа, чтобы меню не было слито с краем */
    }
    
    .menu li {
        margin: 0 20px; /* Отступы между пунктами меню */
    }

    .menu a {
        font-size: 21px; /* Размер шрифта */
    }
}
/* Стили для блока с текстом */
.main_text_page_home h1 {
    margin: 0;
    margin-left: 80px;   /* Отступ слева */
    font-size: 80px;
    justify-content: center;
    color: #A5A5A5;
}

.main_text_page_home p {
    margin: 0;
    margin-left: 80px;   /* Отступ слева */
    font-size: 24px;
    color:#6F6F6F;
}

.main_text_page_home {
    padding: 20px;
    position: absolute;       /* Текст будет поверх изображения */
    margin-top: 12%;           /* Расположение текста сверху */
    left: 0;                   /* Отступ слева */
    color: white;              /* Цвет текста */
    font-size: 24px;           /* Размер шрифта для текста */
    z-index: 1;                /* Устанавливаем текст поверх изображения */
    max-width: 80%;            /* Ограничиваем ширину текста */
    width: 100%;               /* Расширяем контейнер на всю ширину */
}

/* Медиа запросы для экрана шириной до 412px */
@media (max-width: 412px) {
    .main_text_page_home {
        padding: 5px;
        margin-left: 0;        /* Убираем отступ слева на мобильных устройствах */
        margin-top: 12%;       /* Немного увеличиваем отступ сверху */
        max-width: 100%;       /* Ширина блока теперь 100% */
        width: 100%;           /* Текст будет растянут на всю ширину */
    }

    .main_text_page_home h1 {
        font-size: 28px;       /* Уменьшаем размер заголовка */
        margin-bottom: 8px;    /* Меньше отступ снизу */
    }

    .main_text_page_home p {
        font-size: 14px;       /* Уменьшаем размер текста */
        margin-left:0;        /* Убираем отступ слева */
    }
}

/* Дополнительные настройки для экрана шириной до 915px */
@media (max-width: 915px) {
    .main_text_page_home {
        padding: 10px;
        margin-left: 0;        /* Убираем отступ слева */
        max-width: 100%;       /* Увеличиваем ширину текста до 100% */
        width: 100%;           /* Растягиваем блок на всю ширину */
    }

    .main_text_page_home h1 {
        margin-left: 0px;
        font-size: 40px;         /* Увеличиваем размер шрифта для заголовка */
    }

    .main_text_page_home p {
        font-size: 18px; /* Увеличиваем размер шрифта для текста */
        margin-left:-10%;
    }
}






